* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; 
}

#main {
    width: 100%;
    background-image: url(im.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 108vh;
}

.navbar {
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #f5f1f0;
}

.icon {
    color: #02792f;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    float: left;
    align-items: center;
    /* padding-top: 10px; */
}

.menu {
    /* width: 400px; */
    float: left;
    height: 70px;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.menu ul li {
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(182, 170, 170);
    font-family: arial;
    font-weight: bold;
    transition: 0.01s ease-in-out;
}

.menu ul li a:hover {
    color: rgb(208, 134, 32);
}

.login {
    width: 150px;
    float: right;
}

.login .btn {
    width: 100px;
    height: 40px;
    background: #02792f;
    border: 2px solid #02792f;
    margin-top: 13px;
    color: #f5f1f0;
    font-size: 15px;
    border-radius: 5px;
}


.content {
    width: 1200PX;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    color: #024902;
    padding-left: 300px;
    padding-top: 125px;
    font-family: var(--font_6);
    letter-spacing: 1.7px;
    line-height: 40px;
    font-size: 1.8rem;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: white;
    border: 2px solid #02792f;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.content .cn a {
    text-decoration: none;
    color: #272f01;
    transition: .3s ease;
}

.cn:hover {
    background-color: #02792f;
}

.content span {
    color: #ff7200;
    font-size: 60px;
}

.secondsection {
    width: auto;
    align-items: center;
    margin: 40px;
    height: auto;
}





.secondsection h1 {
    /* padding-left: 30px; */
    font-size: 2.1rem;
}

/* .secondsection p {
    font-size: 0.8rem;
} */
.over {
    width: 1000px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #02792f;
    margin: 30px;
    display: grid;
}
#srch {
    font-family: 'Times New Roman';
    width: 80%;
    height: 40px;
    margin-left: 10%;
    background: transparent;
    border: 1px solid #02792f;
    color: #3d0d0d;
    font-size: 16px;
    /* float: left; */
    margin-top: 10px;
    border-radius: 10px;
}

#srch:focus {
    outline: none;
}
.over input[type="search"] {
    text-align: center;
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
  }

.container {
    display: flex;
    width: auto;
    height: auto;
}

.catagory {
    background-color: #f8f4f0;
    width: 25%;
    height: 370px;
    margin: 90px;
    border: 2px solid #eca35b3d;
    border-radius: 5px;
}

.catagory h2 {
    margin: 30px;
    font-size: 29px;
    color: #444814;
}

.catagory p {
    margin: 30px;
    font-size: 18px;
    font-family: arial;
    color: #444814;
}

.catagory a {
    text-decoration: none;
}
.catagory p:hover {
    color: #3d0d0d;
    font-size: 20px ;
}

.box {
    border: 0px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    /* height: 1.5px;
    width: 85vw; */
    display: flex;
    justify-content: space-around;
    /* position: relative;
    text-align: center;
    color: #024902; */

}

.vertical-title {
    width: 290px;
    height: 290px;
    position: relative;
    text-align: center;
    overflow: hidden;
    /* position: absolute; */
}

.txt {
    position: absolute;
    color: #000000;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
    bottom: 15px;
    left: 26%;
    font-size: 20px;
}

.location {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 3px;
    background-color: transparent;
    /* border-radius: 3px; */
    top: 7px;
    left: 6px;
    font-size: 15px;
    display: flex;
}

.location-icon {
    height: 20px;
    width: 19px;
    float: left;
    /* background-color: transparent; */
}

/* .txt:hover{
    bottom: 25px;
    left: 26%;
    font-size: 30px; */
/* } */
.image-top {
    width: 100%;
    height: 100%;
    border: 2.2px solid #0028ff78;
    /* outline: 3px solid #674dc657; */
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.vertical-title:hover .image-top {
    transform: scale(1.1);
}

.vertical-title:hover .txt {
    bottom: 20px;
    font: 22px;
}

/* .vertical-title {
    /* position: relative; */
/* top: 100px; */
/* width: 150px;
    left: -23px; 
} */
.box2 {
    border: 0px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    /* height: 1000px;
    width: 500px;  */
    display: flex;
    justify-content: space-around;
}

.vertical-title2 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: 280px;
    height: 345px;
    text-align: center;
    overflow: hidden;
}

.image-top2 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    /* Ensure the image covers the entire container */
    transition: transform 0.3s ease;
    /* overflow: none; */
}

/* .vertical-title2 {
    position: relative;
    top: 10px;
    /* width: 150px;
    left: -23px; */
.cultural-txt {
    bottom: 18px;
  left: 16%;
  position: absolute;
  font-size: 28px;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  opacity: 12.9;
  /* transform: translate(-100%, -100%); */
  /* color: rgb(241, 19, 19); */
  /* font-size: 20px; */
  /* opacity: 0.5; */
  transition: opacity 0.3s ease;
  color: #323408;
}

/* .vertical-title2:hover .image-top2 {
    transform: scale(1.1);
} */

.vertical-title2:hover .cultural-txt {
    /* opacity: 1; */
    /* font-size: 28px; */
    bottom: 22px;
}

.explore-india {
    height: auto;
    width: auto;
    display: flex;
    margin-top: 40px;
}

.explore-india p {
    font-size: "40px";
    margin-top: 20px;

}

.content1 {
    width: 40%;
    /* height: 80%; */
    font-family: var(--font_6);
    letter-spacing: 1.4px;
    line-height: 30px;
    font-size: 1.3rem;
    padding-left: 30px;
}

/* .vertical-title3{
   /* background-color: #e0e7e0; */
/* } */
.image-top3 {
    height: 400px;
    margin-left: 100px;
    background-color: #f3f0f085;
}

#third-section {
    margin: 30px;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
}

.content-area {
    padding-top: 150px;
    padding-bottom: 100px;
    width: auto;
    left: 100px;
    position: absolute;
    color: #02792f;
}

.content-area p {
    font-size: 60px;
    letter-spacing: .3cm;
    font-family: arial;
}

.content-area a {
    text-decoration: none;
    color: #02792f;
    font-weight: bold;
    transition: 0.01s ease-in-out;
}

.content-area h1 {
    margin-top: 40px;
    font-style: italic;
}

.form {
    margin-left: 50%;
    padding-top: 150px;
    padding-bottom: 100px;
}

.contact2 {
    width: 450px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-color: #79ad79;
    border-radius: 1.5px;
}

.contact2:hover {
    border-color: rgb(2, 67, 39);
    border-radius: 1px;
    width: 453px;
    height: 32px;
}

.contact2:focus {
    outline: none;
}

.contact3 {
    width: 450px;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-color: #02792f;
    border-radius: 1.5px;
}

.contact3:hover {
    border-color: rgb(2, 67, 39);
    border-radius: 1px;
    width: 453px;
    height: 133px;
}

.contact3:focus {
    outline: none;
}

.txt2 {
    font-family: arial;
    font-size: 14px;
    color: #023302;
}

.txt2:after {
    content: "*";
}

#smt {
    float: right;
    background: transparent;
    color: green;
    padding: 2px;
    border: 1px solid green;
    border-radius: 3px;
}

#smt:hover {
    background-color: green;
    color: black;
}

footer {
    background-color: #365510b0;
    padding-top: 60px;
}

.footer {
    height: auto;
    display: flex;

    justify-content: space-evenly;

}

footer ul li {
    list-style: none;
    width: auto;
    font-size: 18px;
    margin-bottom: 20px;
    
}
.second-footer {
    width: 100px;
}

footer ul li a {
    text-decoration: none;
    opacity: 0.5;
    color: white;
    transition: o.3s ease ;
}

footer ul li a:hover {
    color: white;
    opacity: 1;
    font-size: 19px;
    margin-bottom: 16px;
}

.text-center {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    background-color: #365510d8 ;
}
